/* Reset ---------------------------------- */

h1 {
  margin: 0;
  padding: 0;
}

/* Base Styles ---------------------------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

input[type="checkbox"] {
  display: inline-block;
  float: left;
}

/* Section Styles ---------------------------------- */

/* Header */

header {
  width: 100%;
  height: 100px;
  background-color: crimson;
  background-image: url("../img/pizza-pattern.png");
  background-position: 50% 25%;
  font-family: 'Permanent Marker', cursive;
  color: #ffffff;
}

header h1 {
  padding: 20px;
  font-size: 5em;
}

/* Customer Profile Section */

.customer-profile-section {
  display: none;
  padding: 20px;
  background-color: crimson;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: #ffffff;
}


/* Pizza Order Form */

#user-input {
  display: none;
}

.topping-selection {
  padding: 0 20px;
}

/* Output */

.order-output-section {
  display: none;
  padding: 20px;
  background-color: crimson;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: #ffffff;
}

/* Footer */

footer {
  width: 100%;
  height: 50px;
  margin: 20px 0 0 0;
  padding: 20px 0;
  background-color: crimson;
  color: #ffffff;
  text-align: center;
}
